+++
base: skeletons/header
theme_color: orange
nav: admin_home
breadcrumbs_top: False
+++
<br>

<div class="btn-group btn-group-justified">
  <a href="#" class="btn disabled btn-theme">Jump to:</a>
  <a href="#basics" class="btn btn-theme">Basics</a>
  <a href="#users" class="btn btn-theme">Users</a>
  <a href="#docker" class="btn btn-theme">Docker</a>
  <a href="#system" class="btn btn-theme">System</a>
</div>

<br>

<div class="row">
  <div class="col-md-10 col-sm-10">
    <h2 id="basics">Basics</h2>
  </div>
  <div class="col-md-2 col-sm-10">
    <a href="#" class="btn btn-default pull-right"><i class="fa fa-chevron-up"></i></a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt><a href="/admin/announcements">Site Announcements</a></dt>
      <dd>Manage which announcements are currently active and when they will start and end.</dd>

      <dt><a href="/admin/buckets">Buckets</a></dt>
      <dd>Manage feature flags for the site; These could enable or disable various advanced features, or some helpful debugging features.</dd>

    </dl>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-10 col-sm-10">
    <h2 id="users">Users</h2>
  </div>
  <div class="col-md-2 col-sm-10">
    <a href="#" class="btn btn-default pull-right"><i class="fa fa-chevron-up"></i></a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt><a href="/admin/users">Users</a></dt>
      <dd>Play god with the user accounts. They make excelent hackysacks too.</dd>
    </dl>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-10 col-sm-10">
    <h2 id="docker">Docker</h2>
  </div>
  <div class="col-md-2 col-sm-10">
    <a href="#" class="btn btn-default pull-right"><i class="fa fa-chevron-up"></i></a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt><a href="/admin/images">Images</a></dt>
      <dd>Manage all the images that have been built by the system.</dd>

      <dt><a href="/admin/containers">Containers</a></dt>
      <dd>View, disable, (re)start/stop all containers in the system.</dd>

      <!--
      <dt><a href="/admin/docker">Docker</a></dt>
      <dd>ALSO NOT FUCKING DONE, ASSHAT</dd>
      -->
    </dl>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-10 col-sm-10">
    <h2 id="system">System</h2>
  </div>
  <div class="col-md-2 col-sm-10">
    <a href="#" class="btn btn-default pull-right"><i class="fa fa-chevron-up"></i></a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt><a href="/admin/hipache">Hipache Routes</a></dt>
      <dd>View and manage all the routes that are currently in Hipache</dd>
    </dl>
  </div>
</div>
<hr>
