<div class="form-group">
  <select name="perpage" class="form-control input-sm">
    <option value="all" {{ 'selected="selected"' if perpage=="all" }}>All</option>
    {% for i in range(1, 5) %}
        <option value="{{ i*perpage_default }}" {{ 'selected="selected"' if perpage|string==(i*perpage_default)|string }}>{{ i*perpage_default }}</option>
    {% endfor %}
  </select>
</div>
<div class="form-group">
  <select name="dir" class="form-control input-sm">
    <option value="asc" {{ 'selected="selected"' if sort_direction=="asc" }}>Asc</option>
    <option value="desc" {{ 'selected="selected"' if sort_direction=="desc" }}>Desc</option>
  </select>
</div>
<button class="btn btn-theme btn-sm" type="submit">Update</button>
