+++
theme_color: orange
nav: admin_hipache
breadcrumbs_top: True
+++

<form method=POST>
  <div class="row">
    <div class="col-md-5">
      <label for="source" class="sr-only">Source: </label>
      <input type="text" class="form-control" name="source" id="source" placeholder="Source...">
    </div>
    <div class="col-md-2">
      <i class="fa fa-arrow-right fa-2x"></i>
    </div>
    <div class="col-md-5">
      <label for="destination" class="sr-only">Destination: </label>
      <input type="text" class="form-control" name="destination" id="destination" placeholder="Destination...">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-theme pull-right" type="submit">Create <i class="fa fa-check"></i></button>
    </div>
  </div>
</form>
