# Editor temporary/working/backup files #
#########################################
.#*
[#]*#
*~
*$
*.bak
*.diff
*.org
.project
*.rej
.settings/
.*.sw[nop]
.sw[nop]
*.tmp
*.scratchpad
.flagSearchIndex/
virt/
*.out
node_modules
interface/resources/css/bootstrap/
interface/resources/css/fontawesome/
interface/resources/js/bootstrap/
interface/compiled_templates/
app/logs/
app/pid/
app/.coverage
app/config/*.json
.pylintrc
*.flagr.js
old/
interface/templates/
app/rethinkdb_data

app/config/config.yaml
app/config/initial.yaml

# Compiled source #
###################
*.a
*.com
*.class
*.dll
*.exe
*.o
*.py[ocd]
*.so
