<ul class="nav list-group">
  <li><a href="/admin" class="{{ 'active' if command=="home" }}"><i class="fa fa-fw fa-dashboard"></i> Home</a></li>
  <li><a href="/admin/announcements" class="{{ 'active' if command=="announcements" }}"><i class="fa fa-fw fa-bullhorn"></i> Announcements</a></li>
  <li><a href="/admin/buckets" class="{{ 'active' if command=="buckets" }}"><i class="fa fa-fw fa-gear"></i> Buckets</a></li>
  <li><h4>Users</h4></li>
  <li><a href="/admin/users" class="{{ 'active' if command=="users" }}"><i class="fa fa-fw fa-user"></i> Users</a></li>
  <li><h4>System</h4></li>
  <li><a href="/admin/hipache" class="{{ 'active' if command=="hipache" }}"><i class="fa fa-fw fa-random"></i> Hipache</a></li>
  <li><a href="/admin/images" class="{{ 'active' if command=="images" }}"><i class="fa fa-fw fa-file"></i> Images</a></li>
  <li><a href="/admin/containers" class="{{ 'active' if command=="containers" }}"><i class="fa fa-fw fa-desktop"></i> Containers</a></li>
</ul>
