+++
theme_color: orange

nav: admin_images

breadcrumbs_top: True
+++
<div class="row">
  <div class="col-md-2">
    <i class="fa fa-file fa-5x"></i>
  </div>
  <div class="col-md-10">
    <h2>{{image.name}}</h2>
    <b>Owner:</b> <a href="/admin/users/{{image.user.id}}">{{image.user.username}}</a>
    <h5>Rev: {{image.rev}} {% if image.latest %}(<a href="/images/{{image.latest.id}}">latest</a>){% endif %}</h5>
  </div>
</div>
<hr>

<ul class="nav nav-tabs">
  <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
  <li><a href="#log" data-toggle="tab">Build Log</a></li>
  <li><a href="#files" data-toggle="tab">Files</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="info">
    <br>
    <div class="row">
      <div class="col-md-12">
        <b>Ports:</b> {{ image.ports|join(", ") }}<br>
        <b>Created on:</b> {{image.formated_created}}
      </div>
    </div>
  </div>
  <div class="tab-pane" id="log">
    <br>
    <div class="row">
      <div class="col-md-12">
        <pre>{{image.log}}</pre>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="files">
    <br>
    <div class="row">
      <div class="col-md-12">

        <div class="row">
          <div class="col-md-12">
            <h1>Dockerfile</h1>
            <pre>{{image.dockerfile}}</pre>
          </div>
        </div>
        {% if image.additional_files %}
          <div class="row">
            <div class="col-md-12">
              <h1>Additional Files</h1>
            </div>
          </div>
        {% endif %}
        {% for name in image.additional_files %}
          <div class="row">
            <div class="col-md-12">
              <h3>{{name}}</h3>
              <pre>{{image.additional_files[name]}}</pre>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>
