+++
base: skeletons/header
+++
<h1 id="about">What is Psh PaaS?</h1>

<!-- TODO: this -->

<hr>
<h1>Technical information<br><small>What makes Psh PaaS run</small></h1>
<p>All code for Psh PaaS can be found online at <a href="https://github.com/JoshAshby/Psh PaaS">Github</a> and is licensed under Creative Commons Attribution-NonCommercial-ShareAlike 3.0.</p>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <h3>Python</h3>
    <ul>
      <li>Seshat, a web framework by me, built on top of <a href="http://www.gevent.org/">Gevent</a></li>
      <li><a href="https://pypi.python.org/pypi/RethinkORM/">My RethinkORM module</a></li>
      <li>An unpublished Redis ORM module</li>
      <li><a href="https://pypi.python.org/pypi/pystache">Pystache</a></li>
      <li><a href="http://jinja.pocoo.org/">Jinja2</a></li>
      <li><a href="http://crsmithdev.com/arrow/">Arrow</a></li>
      <li><a href="http://docs.python-requests.org/en/latest/">Requests</a>
      <li><a href="http://pyyaml.org/">PyYAML</a></li>
      <li>Lots of smaller Python packages, see the source if you want to dig them all out</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <h3>Databases</h3>
    <ul>
      <li><a href="http://www.rethinkdb.com/">RethinkDB</a></li>
      <li><a href="http://redis.io/">Redis</a></li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <h3>Front end</h3>
    <ul>
      <li><a href="http://getbootstrap.com/">Twitter Bootstrap v3</a></li>
      <li><a href="http://jquery.com/">jQuery</a></li>
      <li><a href="http://fontawesome.io/">Fontawesome v4 for the icons</a></li>
      <li><a href="http://www.google.com/fonts/specimen/Maven+Pro">For the font, Maven Pro</a></li>
      <li>Lots of other smaller Javascript libraries</li>
    </ul>
  </div>
</div>
