+++
theme_color: orange
nav:
  admin_users: true
+++
<ol class="breadcrumb">
  <li><a href="/admin">Admin</a></li>
  <li class="active">Users</li>
</ol>

<div class="row">
  <div class="col-md-2">
    <img src="https://gravatar.com/avatar/{{user.gravatar}}?d=mm&s=100" alt="{{user.email}}" class="img-thumbnail">
  </div>
  <div class="col-md-10">
    <h3>{{user.username}}</h3>
    <h5>{{user.email}}</h5>
    <small>Created on {{user.formated_created}}</small>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    {{tabs}}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <br>
    <form class="form-inline pull-right" role="pagination_options">
      {{page.options}}
    </form>
    <br>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <th>Name</th>
        <th>Created</th>
        <th>Dockerfile</th>
      </thead>
      <tbody>
        {% for image in page.pail %}
          <tr>
            <td><a href="/admin/images/{{image.id}}">{{image.name}}</a></td>
            <td>{{image.formated_created}}</td>
            <td><a href="/admin/dockerfiles/{{image.dockerfile}}">{{image.dockerfile}}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {{page.paginate}}
  </div>
</div>
