<div class="jumbotron">
  <h1><i class="icon-bell-alt"></i> 404 <small>(Not Found)</small></h1>
  <p>We couldn't find the page you were looking for, maybe make sure the URL is correct?</p>
  <p>We've logged this error and will take a look into making sure something isn't wrong.</p>
</div>
