+++
nav: new
+++
<div class="row">
  <div class="col-md-12">
    <h1>New Container - Step 2</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form method="POST" enctype="multipart/form-data" class="form-horizontal">
      <fieldset>
        <div class="row">
          <div class="col-md-6">
            <legend>Domain</legend>
            <div class="row">
              <label class="control-label col-md-2" for="domains">Domain:</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="domains" name="domains" placeholder="Domain..." value="{{domain}}">
                <span class="help-block">
                  The is different from the containers name, and should be a domain that you own. Once you finish getting your new container spun up, you'll recieve instructions on how to point your domain at it.
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <legend>Http Port</legend>
            <div class="row">
              <div class="col-md-12">
                <label class="sr-only" for="http_port">HTTP Port</label>
                <select name="http_port" id="http_port" class="form-control">
                  {% for port in ports %}
                    <option value="{{port}}">{{port}}</option>
                  {% endfor %}
                </select>
                <span class="help-block">
                  You can choose to route HTTP traffic (and only HTTP traffic) to a single port within the container.
                </span>
              </div>
            </div>
            <br>
          </div>
        </div>
      </fieldset>
      <button class="btn btn-theme pull-right" type="submit">Spin up! <i class="fa fa-check"></i></button>
    </form>
  </div>
</div>
