body {
  margin: 0px;
}
#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}
#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
#page-content-wrapper {
  width: 100%;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}
.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999999;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
.content-header {
  line-height: 65px;
  padding: 5px;
}
.content-header h1 {
  margin: 0;
}
.inset {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
#epiceditor,
#preview {
  width: 100%;
}
#preview {
  padding-left: 5px;
}
#info {
  padding: 25px;
}
#menu-toggle {
  display: none;
}
@media (max-width: 767px) {
  #wrapper {
    padding-left: 0;
  }
  #sidebar-wrapper {
    left: 0;
  }
  #wrapper.active {
    position: relative;
    left: 250px;
  }
  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  #menu-toggle {
    display: inline-block;
  }
  #preview {
    display: none;
  }
  #epiceditor {
    width: 100%;
  }
}
