+++
theme_color: orange
nav: admin_containers
breadcrumbs_top: True

scriptFiles:
 - psh/admin/container
 - psh/container
+++
<input type="hidden" id="container-id" value="{{container.id}}" />
<input type="hidden" id="container-disable" value="{{container.disable}}" />
<div class="row">
  <div class="col-md-2">
    <i class="fa fa-desktop fa-5x"></i>
  </div>
  <div class="col-md-10">
    <h2>{{container.name}}</h2>
    <b>Owner: </b><a href="/admin/users/{{container.user.id}}">{{container.user.username}}</a><br>
  </div>
</div>
<hr>

<ul class="nav nav-tabs">
  <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
  {% if container.status != "Queued" %}
    <li><a href="#ports" data-toggle="tab">Ports</a></li>
    <li><a href="#settings" data-toggle="tab">Settings</a></li>
  {% endif %}
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="info">
    <br>
    <div class="row">
      <div class="col-md-12">
        <b>Status: </b>
        <span id="status">{{container.status}}</span>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-12">
        {% if not container.disable %}
          <b>Actions: </b>
          <button id="wat_button" class="btn btn-default" data-stop-text="Stopping..." data-start-text="Starting..." data-restart-text="Restarting...">Loading Extension</button> <button id="restart" class="btn btn-default"><i class="fa fa-refresh"></i> Restart</button> <button class="btn btn-danger" id="disable"><i class="fa fa-times"></i> Disable</button>
        {% else %}
          <p>This container is currently disabled, and not running.</p>
          <button class="btn btn-success" id="enable"><i class="fa fa-check"></i> Enable</button>
        {% endif %}
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-12">
        <b>Built from image:</b> <a href="/admin/images/{{container.image.id}}">{{container.image.name}}</a><br>
        <b>Created on:</b> {{container.formated_created}}
      </div>
    </div>
  </div>
  <div class="tab-pane" id="settings">
    <br>
    <div class="row">
      <div class="col-md-12">
        <form method="POST">
          <fieldset>
            <div class="row">
              <div class="col-md-6">
                <legend>Domains</legend>
                <div class="form-group">
                  <div id="domain_inputs">
                    {% for domain in container.domains %}
                      <label class="control-label sr-only" for="domain">Domain:</label>
                      <div class="input-group">
                        <input type="text" class="form-control" name="domains" placeholder="Domain..." value="{{domain}}">
                        <span class="input-group-btn">
                          <button class="btn btn-default remove_domain"><i class="fa fa-times"></i></button>
                        </span>
                      </div>
                      <br>
                    {% endfor %}
                  </div>
                  <button class="btn btn-theme btn-sm" id="add_domain"><i class="fa fa-plus"></i></button>
                  <span class="help-block">
                    TODO: This
                  </span>
                </div>
              </div>
              <div class="col-md-6">
                <legend>Http Port</legend>
                <div class="form-group"
                  <label class="sr-only" for="http_port">HTTP Port</label>
                  <select name="http_port" id="http_port" class="form-control">
                    {% for port in container.image.ports %}
                      <option value="{{port}}" {{ 'selected' if port==container.http_port }}>{{port}}</option>
                    {% endfor %}
                  </select>
                  <span class="help-block">
                    You can choose to route HTTP traffic (and only HTTP traffic) to a given port within the container.
                  </span>
                </div>
              </div>
            </div>
          </fieldset>
          <button class="btn btn-theme pull-right" type="submit">Update <i class="fa fa-check"></i></button>
        </form>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="ports">
    <br>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <th>Container Port</th>
            <th>Domain Port</th>
            <th>HTTP (Port 80)</th>
          </thead>
          <tbody>
            {% for internal, external in container.ports.iteritems() %}
              <tr {{ 'class="success"' if internal==container.http_port }}>
                <td>{{internal}}</td>
                <td>{{external}}</td>
                <td class="text-success">
                  {% if internal==container.http_port %}
                    <i class="fa fa-check"></i>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
