+++
theme_color: orange
nav: admin_containers

scriptFiles:
 - psh/admin/container
+++
<input type="hidden" id="container-id" value="{{container.id}}" />
<input type="hidden" id="container-disable" value="{{container.disable}}" />
<div class="row">
  <div class="col-md-2">
    <i class="fa fa-desktop fa-5x"></i>
  </div>
  <div class="col-md-10">
    <h2>{{container.name}}</h2>
    <b>Owner: </b><a href="/admin/users/{{container.user.id}}">{{container.user.username}}</a><br>
  </div>
</div>
<hr>

<ul class="nav nav-tabs">
  <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
  <li><a href="#settings" data-toggle="tab">Settings</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="info">
    <br>
    <div class="row">
      <div class="col-md-12">
        <b>Status: </b>
        <span id="status">{{container.status}}</span>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-12">
        {% if not container.disable %}
          <b>Actions: </b>
          <button id="wat_button" class="btn btn-default" data-stop-text="Stopping..." data-start-text="Starting..." data-restart-text="Restarting...">Loading Extension</button> <button id="restart" class="btn btn-default"><i class="fa fa-refresh"></i> Restart</button>
        {% else %}
          <p>This container is currently disabled, and not running.</p>
          <button class="btn btn-success" id="enable"><i class="fa fa-check"></i> Enable</button>
        {% endif %}
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-12">
        <b>Built from image:</b> <a href="/admin/images/{{container.image.id}}">{{container.image.name}}</a><br>
        <b>Created on:</b> {{container.formated_created}}
      </div>
    </div>
  </div>
  <div class="tab-pane" id="settings">
    <br>
    <div class="row">
      <div class="col-md-12">
        <form method=POST action="/admin/containers/{{container.id}}/update">
          <fieldset>
            <legend>Ports</legend>
            <p>You can choose to route http traffic (and only http traffic) to a given port within the container. If you don't specify a port, then you can use the automatically generated ports on the right.</p>
            {% for port in container.ports %}
              <div class="row">
                <div class="col-md-12">
                  <label class="sr-only" for="host">Host:</label>
                  <div class="input-group">
                    <span class="input-group-addon">{{port}}</span>
                    <input class="form-control" type="text" name="port_{{port}}" placeholder="Host Port" value={{container.ports[port]["host"]}}>
                    <span class="input-group-addon">{{container.ports[port]["internal"]}}</span>
                  </div>
                </div>
              </div>
              <br>
            {% endfor %}
          </fieldset>
          <span class="help-block">Notice, the container will need to be restarted for these changes to go into effect.</span>
          <button class="btn btn-theme pull-right" type="submit">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
