+++
nav: images
+++
<div class="row">
  <div class="col-md-2">
    <i class="fa fa-picture-o fa-5x"></i>
  </div>
  <div class="col-md-10">
    <h3>{{image.name}}</h3>
    <h5>Rev: {{image.rev}} {% if image.latest %}(<a href="/images/{{image.latest.id}}">latest</a>){% endif %}</h5>
    <small>Created on {{image.formated_created}}</small>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <p>Built from Dockerfile: <a href="/dockerfiles/{{image.dockerfile.id}}">{{image.dockerfile.name}}</a></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>Build log</h1>
    <pre>{{image.log}}</pre>
  </div>
</div>
